.test{
    width: 100%;
    text-align: center;
}
.test > h1{
    margin-bottom: 20px;
}

.map{
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33, rgb(14,173,173)), color-stop(0.67, rgb(0,255,255)));
    background-image: -moz-linear-gradient(center bottom, rgb(14,173,173) 33%, rgb(0,255,255) 67% );
    padding: 2px;
    border: 1px solid red;
    
}
iframe{
    width: 650px;
    height: 500px;
    margin: 0 auto;
    border: none;
    background-color: white;
}
