.location{
    width: 100%;
    background-color: rgb(243, 236, 224);
    height: 100vh;
    text-align: center;
    
}

.location__header{
    padding-top: 25px;
    display: flex;
    flex-direction: column;
}

.location__header > h2{
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 500px;
    font-family: var(--primary-font);
}

.location__header > p{
    padding-top: 5px;
    font-family: var(--primary-font);
    font-size: 16px;
    max-width:550px;
    margin: 0 auto;
    padding-bottom: 20px;
}