.pizza {
  position: relative;
  width: 250px;
  height: 300px;
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
}

.pizza__header {
  position: relative;
}

.pizza__price {
  position: absolute;
  top: -10px;
  left: -10px;
  background-color: #fff;
  padding-top: 15px;
  padding-right: 20px;
  padding-left: 20px;
  height: 50px;
  border-radius: 15px;
  z-index: 10;
}

.pizza__price > p {
  font-size: 18px;
}

.pizza__header > img {
  object-fit: contain;
  width: 100%;
}

.pizza__name {
  font-size: 20px;
  text-align: center;
}

.pizza__sizes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
}

.pizza__size {
  background-color: #f6f6f6 !important;
}

.pizza__size.selected {
  background-color: #fac56a !important;
  color: #fff;
}

.pizza__footer,
.pizza__qty {
  display: flex;
}

.pizza__footer {
  padding: 10px 20px;
}

.pizza__qty {
  border: 1px solid lightgray;
  border-radius: 5px;
}

.pizza__qty > input {
  width: 40px;
  padding: 0 10px;
  outline: 0;
  border: 0;
  background: none;
}

.pizza__qtyOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border-left: 1px solid lightgray; */
}

.pizza__qtyButton:focus,
.pizza__order:focus,
.pizza__size:focus {
  outline: 0;
}

.pizza__qtyButton {
  /* font-size: 8px !important; */
  padding: 0 !important;
}

.pizza__qtyButton:hover {
  background: none !important;
}

.pizza__qtyButtonOption {
  /* font-size: 20px !important; */
  margin: -5px -2px !important;
}

.pizza__qtyButtonOption:hover {
  background: none !important;
}

.pizza__order {
  flex: 1;
  background-color: #fac56a !important;
  color: #fff !important;
  margin-left: 10px !important;
  /* font-size: 12px !important; */
}

.pizza__oderAdded {
  flex: 1;
  background-color: #e0e0e0 !important;
  /* color: #fff !important; */
  margin-left: 10px !important;
}
