.products {
  margin-left: 300px;
  background-color: #eeeeee;
  height: 100%;
  padding: 50px;
}

.products__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.products__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 25px;
  border-radius: 25px;
}

.products__search > input {
  outline: 0;
  border: none;
  background: none;
  width: 300px;
}

.products__login,
.products__cart {
  width: 110px;
  padding: 10px 0 !important;
}

.products__login:focus,
.products__cart:focus {
  outline: none;
}

.products__cart {
  background-color: #f38857 !important;
  color: #fff !important;
}

.products__login {
  margin-right: 15px !important;
  background-color: #fff !important;
}

.products__loginLogo {
  height: 20px !important;
  object-fit: contain !important;
  margin-right: 5px;
}

.products__cartLogo {
  margin-right: 5px;
}

.products__body {
  display: flex;
  flex-wrap: wrap;
}

.products__cartTitleIcon {
  font-size: 100% !important;
  margin-right: 5px;
}

.products__cartTitle {
  margin: 0;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
  position: sticky;
  top: 0;
  background-color: #f38857;
  color: #fff;
  font-size: 25px;
  z-index: 100;
}

.products__cartItem {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid lightgray;
}

.products__cartTotal {
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.products__cartEmpty {
  height: 80%;
  display: grid;
  place-items: center;
}

.products__cartEmpty > img {
  width: 50%;
  object-fit: contain;
}

.products__cartEmpty > h6 {
  margin-top: -100px !important;
}

.products__cartItemInfo > * {
  margin: 0;
}

.products__cartItemInfo {
  flex: 1;
}

.products__cartItemOption {
  display: flex;
  align-items: center;
}

.products__cartItemButton:focus {
  outline: 0;
}

.products__cartItemDelete {
  color: red;
}

.products__cartItemEdit {
  color: lightgreen;
}

.products__cartItem:nth-child(even) {
  background-color: #f6f6f6;
}

.products__checkoutButton {
  text-align: center !important;
  background-color: #f38857 !important;
  color: #fff !important;
  margin: 20px 0 !important;
}

.products__checkoutButton:focus {
  outline: 0;
}
