.section {
  height: 100vh;
  width: 100vw;
}

.landing__logo {
  object-fit: contain;
  height: 100px;
  margin-bottom: 30px;
  /* width: 100px; */
}
.landing__hero {
  background: url("../img/hero.jpg") no-repeat center;
}

.landing__content {
  height: 100%;
  width: 80%;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #fff;
  /* padding: 50px 50px; */
}

.landing__content > h1 {
  font-size: 90px;
  font-family: var(--hero-font);
  font-weight: 500;
  line-height: 80px;
}

.landing__content > p {
  max-width: 700px;
  font-size: 19px;
  padding: 35px 0;
  font-family: var(--primary-font);
}

.landing__options > button,
.landing__specialtyInfo > button {
  height: 50px;
  width: 200px;
  margin-right: 15px;
  outline: none;
  font-size: 16px;
}

.landing__orderButton {
  border: none;
  background: var(--primary-color) !important;
  color: #fff !important;
}

.landing__contactButton {
  background: none;
  border: 1px solid var(--primary-color) !important;
  color: var(--primary-color) !important;
}

.landing__title {
  font-family: var(--hero-font);
  text-transform: capitalize;
  font-weight: 500;
  font-size: 50px;
  margin-bottom: 20px;
}

/* SPECIALTY */
.landing__specialty {
  padding: 100px 0;
  width: 100%;
  height: 100%;
  /* margin: auto auto; */
  text-align: center;
}

.landing__specialty > p {
  width: 70%;
  margin: auto auto;
  font-family: var(--primary-font);
  font-size: 18px;
}
.landing__specialtyContent {
  padding-top: 100px;
  width: 60%;
  margin: auto auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.landing__specialtyContentImg {
  background: url("../img/specials.jpg") no-repeat center;
  object-fit: contain;
}

.landing__specialtyInfo {
  min-height: 300px;
  min-width: 300px;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.landing__specialtyInfo > p {
  font-family: var(--primary-font);
  margin: 20px 0;
  text-align: justify;
}

.landing__specialtyInfo > h2 {
  font-family: var(--primary-font);
  font-size: 24px;
  font-weight: 700;
}
