@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&family=Sansita+Swashed:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");
:root {
  --primary-color: #6cc15a;
  --primary-font: "Quicksand", sans-serif;
  --hero-font: "Sansita Swashed", cursive;
  --sample-font: "Lobster", cursive;
  --sample2-font: "Niconne", cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
